.counter{
    text-align: center;
    padding: 1em;
    border: 1px solid rgb(54, 54, 54);
    margin: 10px auto;
    width: max-content;
}

.h1{
    color: teal;
    text-shadow: 2px 3px black;
}
.h2{
    font-size: 1.5em;
    background-color: rgb(37, 32, 32);
    color: white;
    width: max-content;
    padding: 1em;
    margin: 1em auto;
}
.btn{
    padding: 0.5em;
    margin: 0.5em;
    background-color: teal;
    font-size: 1.5em;
    border: none;
}